<body>
    <section>
        <nav class="navbar h-50 mb-4" style="background-color: #90BBB5;">
            <a class="navbar-brand" href="#">
                <img src="/assets/images/logo.jpg" width="40" height="40" class="d-inline-block align-top ms-2" alt="">
                <h2 class="d-inline-block ms-2" style="color: black;"><b>Auction</b></h2>
            </a>
            <h4 class="ms-auto me-4" style="color: white;"><b>Welcome, <span>{{user?.name}}</span>.</b></h4>
            <a (click)="myauction()" class="me-4" style="text-decoration: none;">
                <h4><b>My Auction</b></h4>
            </a>
            <a (click)="logoutUser()" class="me-4" style="text-decoration: none;">
                <h4><b>Logout</b></h4>
            </a>
        </nav>


        <div class="d-flex justify-content-center ">
            <div class="row col-2 row shadow   m-3 bg-body rounded p-2">
                <div class="col">
                    <div class="bg-warning text-center w-25 text-center mx-auto m-2 px-4 py-1 rounded-pill">
                        <span>{{participated}}</span>
                    </div>
                    <h6 class="text-center Font fw-bold ">Participated</h6>
                </div>
                <div class="d-flex d-lg-inline-flex col-auto">
                    <div class="vr"></div>
                </div>
                <div class="col ">
                    <div class="w-25 text-center mx-auto m-2 px-4 py-1 rounded-pill text-lg-center"
                        style="background-color: rgb(39, 231, 39);"><span>{{won}}</span></div>
                    <h6 class="text-center Font fw-bold">Won</h6>
                </div>

            </div>
        </div>


        <div class="container">
            <div *ngFor="let products of allInAuctionProducts | paginate:{
                itemsPerPage: 4,
                currentPage: page
            }" class="card product shadow  my-5 m-3 bg-body rounded d-flex d-md-inline-flex" style="width: 18rem;">
                <img src="/assets/images/CARD.jpeg.jpg" class="card-img-top" alt="...">
                <div class="card-body slider-main">
                    <h5 class="card-title text-decoration-underline Font fw-bold">{{products.name}}</h5>
                    <p class="card-text">{{products.description}}</p>

                    <h6 class="Font fw-bold">Base Price: <span>${{products.price}}</span></h6>
                    <h6 class="Font fw-bold">Owner: <span>{{products.owner}}</span></h6>

                    <button [disabled]="!products.active" (click)="bid(products.id)" class="float-end"
                        style="background-color: rgba(109, 192, 192, 0.303); text-decoration-color: rgb(112, 177, 177); border-color:rgb(112, 177, 177) ;">View
                        Auction </button>

                </div>
            </div>
            <div>
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="page = $event">
                </pagination-controls>
            </div>
        </div>
    </section>
</body>